In [12]:
%matplotlib inline
import numpy as np
# first we ingest the data from the source on the web
# this contains a reduced version of the data set from Lending Club
import pandas as pd
loansData = pd.read_csv('https://spark-public.s3.amazonaws.com/dataanalysis/loansData.csv')

In [13]:
#remove %
loansData['Interest.Rate'] = loansData['Interest.Rate'].replace({'\%':''}, regex = True)
# minus months
loansData['Loan.Length'] = loansData['Loan.Length'].replace({'\ months':''}, regex = True)

preppedData = pd.DataFrame(loansData)
#no NAs
preppedData = preppedData.dropna()
loansData.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
81174,20000,20000.0,8.90,36,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
99592,19200,19200.0,12.12,36,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
80059,35000,35000.0,21.98,60,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
15825,10000,9975.0,9.99,36,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
33182,12000,12000.0,11.71,36,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [14]:

def outlierIndices(values):
    import statistics
    std = statistics.stdev(values)
    mean = statistics.mean(values)
    #std (loansData['Amount.Funded.By.Investors'])
    arr = np.array(values)
    toDelete = [];
    for index in range(len(arr)):
        if (mean + 3*std < arr[index]):
            toDelete = np.append(toDelete, index)
    
    return toDelete;

In [17]:

arr = preppedData['FICO.Range']

#for index in range(len(arr)):
     #  arr[index] = str(arr[index]).split('-')[0]

In [18]:
preppedData['Amount.Requested'].mean()

12413.030424339471

In [ ]:
preppedData['']