In [1]:
%matplotlib inline
# first we ingest the data from the source on the web
# this contains a reduced version of the data set from Lending Club
import pandas as pd
loansData = pd.read_csv('https://spark-public.s3.amazonaws.com/dataanalysis/loansData.csv')

In [6]:
loansData['Interest.Rate'] = loansData['Interest.Rate'].replace({'\%':''}, regex = True)

81174     8.90
99592    12.12
80059    21.98
15825     9.99
33182    11.71
62403    15.31
48808     7.90
22090    17.14
76404    14.33
15867     6.91
94971    19.72
36911    14.27
41200    21.67
83869     8.90
53853     7.62
Name: Interest.Rate, dtype: object

In [7]:
loansData.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
81174,20000,20000.0,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
99592,19200,19200.0,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
80059,35000,35000.0,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
15825,10000,9975.0,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
33182,12000,12000.0,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [8]:
#loansData['Loan.Length'] = loansData["Loan.Length"]

In [12]:
g = "36 yolo"

SyntaxError: invalid syntax (<ipython-input-12-1da63a48f859>, line 1)

In [13]:
loansData['Loan.Length'] = loansData['Loan.Length'].replace({'\ months':''}, regex = True)

In [15]:
loansData.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
81174,20000,20000.0,8.90%,36,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
99592,19200,19200.0,12.12%,36,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
80059,35000,35000.0,21.98%,60,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
15825,10000,9975.0,9.99%,36,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
33182,12000,12000.0,11.71%,36,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [24]:
import statistics as st
#st.mean(arr)
g = "123-432-453"
print(g.split('-'))

#def outlierIndex ():

['123', '432', '453']

In [26]:
loansData['FICO.Range'].apply(lambda x: x.split('-')[0])

81174     735
99592     715
80059     690
15825     695
33182     695
62403     670
48808     720
22090     705
76404     685
15867     715
94971     670
36911     665
41200     670
83869     735
53853     725
21399     730
62127     695
23446     740
44987     730
17977     760
86099     665
99483     695
28798     665
24168     695
10356     670
46027     705
2238      675
65278     675
4227      765
50182     760
         ...
84265     665
80231     770
49533     685
102514    650
78618     660
86953     675
80129     675
85216     730
38247     725
91245     680
53041     760
63051     810
14446     720
68628     675
98758     690
13070     765
45836     665
52330     660
48243     685
63256     670
42124     710
78043     720
925       710
74047     675
49957     685
23735     705
65882     740
55610     680
38576     675
3116      670
Name: FICO.Range, Length: 2500, dtype: object